{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<h2>Reparamos tu smartphone</h2>
<h1>Donde sea, cuando sea</h1>
<p>Nullam mollis risus id pharetra ullamcorper. Donec in mauris vel nunc facilisis accumsan id et orci. </p>
<div class="promosolicitar">
<a href="{% url 'contactanos' %}" class="hvr-buzz-out" id="reparar"><i class="fa fa-wrench"> </i> Reparar  </i></i></a>
<img id="crashiphone" src="{% static "img/iphonecracked.png" %}" /></div>
{% endblock %}
{% block content %}

<section class="marcas">
<h2>Marcas</h2>
<article class="marcas">
	<img src="{% static "img/iphoneGris.png" %}"/>
	<img src="{% static "img/samsungGris.png" %}"/>
	<img src="{% static "img/sonyGris.png" %}"/>
	<img src="{% static "img/huaweiGris.png" %}"/>
	<img src="{% static "img/lgGris.png" %}"/>

</article>
</section>

<section class="hacemos">
	<div class="informacion3">
		<img src="{% static "img/ServicioIcono.png" %}"/>
		<h3>Servicio</h3>
		<p>Reparamos tu celular con garantía y técnicos altamente cualificados.</p>
	</div>
	<div class="informacion3">
		<img src="{% static "img/TiempoIcono.png" %}"/>
		<h3>Facil y Rapido</h3>
		<p>A tu domicilio u oficina al instante sin coste adicional. </p>
	</div>
	<div class="informacion3">
		<img src="{% static "img/PagoIcono.png" %}"/>
		<h3>Pagos</h3>
		<p>Aceptamos pagos en Efectivo, PayPal o Bitcoins.</p>
	</div>
</section>

{% endblock %}
