{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>kiipfone</title>
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "style/normalize.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}">
		<!--[if lt IE 9]>
  			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" href="{% static "style/font-awesome.min.css" %}">

</head>
<body>
	<nav>
	<i class="fa fa-bars fa-2x  menuresponsive" id="menuresponsive"></i>
		<img src="{% static "img/nanoLogo.png" %}">
		<ul>
			<a href="/"><li>Home</li></a>
			<li>Nosotros</li>
			<li>Solicitar</li>
			<li>Accesorios</li>
			<li>Contactanos</li>
		</ul>
		<i class="fa fa-user login" id="login"></i>
		<div id="usuario">
			Login
			<div class="from">
				<span class="entrada"><span class="usuarioicon"><i class="fa fa-user fa-fw"></i></span>
				<input class="form-usario" type="text" placeholder="Usuario"></span>
				<span class="entrada"><span class="usuarioicon"><i class="fa fa-lock fa-fw"></i></span>
				<input class="form-usario" type="password" placeholder="Clave"></span>

				<a href="#" class="boton">Registrarse</a><input type="submit" class="boton" value="Ingresar"> 
				</div>



</div>
	</nav>
<header>
<h2>Reparamos tu smartphone</h2>
<h1>Donde sea, cuando sea</h1>
<p>Nullam mollis risus id pharetra ullamcorper. Donec in mauris vel nunc facilisis accumsan id et orci. </p>
<div class="promosolicitar">
<a href="#" class="hvr-buzz-out" id="reparar"><i class="fa fa-wrench"> </i> Reparar  </i></i></a>
<img id="crashiphone" src="{% static "img/iphonecracked.png" %}" /></div>
</header>

<section class="marcas">
<h2>Marcas</h2>
<article class="marcas">
	<img src="{% static "img/iphoneGris.png" %}"/>
	<img src="{% static "img/samsungGris.png" %}"/>
	<img src="{% static "img/sonyGris.png" %}"/>
	<img src="{% static "img/huaweiGris.png" %}"/>
	<img src="{% static "img/lgGris.png" %}"/>

</article>
</section>

<section class="hacemos">
	<div class="informacion3">
		<img src="http://lorempixel.com/150/150/"/>
		<h3>Servicio</h3>
		<p>Reparamos tu celular con garantía y técnicos altamente cualificados.</p>
	</div>
	<div class="informacion3">
		<img src="http://lorempixel.com/150/150/"/>
		<h3>Facil y Rapido</h3>
		<p>A tu domicilio u oficina al instante sin coste adicional. </p>
	</div>
	<div class="informacion3">
		<img src="http://lorempixel.com/150/150/"/>
		<h3>Pagos</h3>
		<p>Aceptamos pagos en Efectivo, PayPal o Bitcoins.</p>
	</div>
</section>
<hr/>	
<section class="solicitar">
	<h2>¿Necesitas arreglar tu célular?</h2>
	<a href="#" class="hvr-buzz-out" id="reparar"><i class="fa fa-wrench"> </i> Solicitar  </i></i></a>
</section>
<footer>
<p class="logofooter">
	<img src="{% static "img/microLogo.png" %}"/></p>
	<div ="redessociales">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-google-plus"></i></a>
	</div>
	<p class="copyright">Copyright 2015 kiipfone Inc.</p>
</footer>
<script type="text/javascript" src="{% static "script/jquery-2.1.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/scripts.js" %}"></script>
<script type="text/javascript" src="{% static "script/animacioncrash.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61939092-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>