{% extends "baseSinSolicitar.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "style/solicitar.css" %}">

{% endblock %}
{% block content %}
<div class="solicitar">
<h1>Seleccione la marca del dispositivo</h1>
<div class="marcas">
	<a href="#"><img src="http://lorempixel.com/g/300/200/"></a>
	<a href="#"><img src="http://lorempixel.com/g/300/200/"></a>
	<a href="#"><img src="http://lorempixel.com/g/300/200/"></a>
</div>
</div>
{% endblock %}