@font-face {
    font-family: "serifa-bt-bold";
    src: url(serifa-bt-bold.ttf) format("truetype");
}

html
	font-size: 20px
	height: auto
	width: 100%
nav
	font-family: "serifa-bt-bold"
	
