{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "style/usuario.css" %}">

{% endblock %}
{% block content %}
<section class="contenido">
<h2>Regístrate</h2>
	<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{RegistrarUser.as_p}}
	{{RegistrarseUsuario.as_p}}
	<p>Haz clic en Registrarme para aceptar el Contrato de servicios de kiipfone y la <a href="{% static "documentos/TerminosCondicionesDeUso.pdf" %}"> Declaración de privacidad. </a></p>
	<input type="submit" class="boton" value="Registrarme">
	</form>
</section>
{% endblock %}