.headerimg
		width 100%
.contenido
	margin-top: 2em;
	margin-bottom 3em
	padding 2em
	width: 50%
	margin-left: auto
	margin-right: auto
	text-align: center;
	border-radius 1em
	h2
		margin 0 2em
		color #535b60
